node_modules

content/*
!content/maps
game/*
# /content/panorama/scripts/custom_game/**/*.js
# /content/panorama/styles/custom_game/**/*.css
# /game/scripts/vscripts/**/*.lua

# Dota 2 stuff
*.bin
*.vcss_c
*.vxml_c
*.vtex_c
*.vjs_c
*.vpcf_c
*.vmat_c
*.vpk
*.vmdl_c
*.vmesh_c
*.vsndevts_c
*.vsnd_c
panorama_debugger.cfg
